/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
    height: 5vh;
    width: 100%;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2px;
}

input:focus-visible {
    border: 1px solid black;
    outline: none;
}

select {
    height: 5vh;
    width: 100%;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2px;
}

select:focus-visible {
    border: 1px solid black;
    outline: none;
}

button {
    border: none;
    height: 40px;
    background-color: lightgrey;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}
